{% extends 'modal.html' %}
{% block title %}Byt Lösenord{% endblock %}
{% block
    modal_body %}
    <h2>Ändra lösenord</h2>
    <form method="post">
        <input type="password"
               name="oldpassword"
               placeholder="Gammalt lösenord"
               required />
        <br />
        <input type="password"
               name="newpassword"
               placeholder="Nytt Lösenord"
               required />
        <br />
        <input type="submit" value="Ändra Lösenord" />
    </form>
{% endblock %}
