{% extends 'base.html' %}

{% block content %}
<div class="contbox">
<h2>{% block title %}Vecka {{ week }}{% endblock %}:</h2>
{% for i in range(5) %}
<p>{{ weekday[i].capitalize() }}: {{ schema[i][1] }} 
{% if userdict['PermissionLevel'] >= 2 %}
<span class="weekplancontrol"><a href="{{ schema[i][0]+'set' }}"> </a>  <a href="{{ schema[i][0]+'del' }}"> </a></span>
{% endif %}
</p>
{% endfor %}
</div>
<div class="contbox">
	<h2>Länkar</h2>
	{% for i in links %}
	<p><a href="{{ baseurl+i.split('-')[0].strip() }}">{{ i }}</a></p>
	{% endfor %}
</div>
{% endblock %}
