{% extends 'base.html' %}
{% block content %}
    <script>
  function togglePassword(el) {
    const input = el.closest("li").querySelector("span.userpassword");
    if (input.classList.contains("hidepass")) {
      el.textContent = "󰈈 "; // open eye
      input.classList.remove("hidepass");
    } else {
      el.textContent = "󰈉 "; // closed eye
      input.classList.toggle("hidepass");
    }
  }
    </script>
    <div class="contbox">
        <div style="position: sticky;
                    top: 0;
                    padding-top: 32px;
                    background-color: var(--bg-dark)">
            <div style="display: flex;
                        align-items: center;
                        justify-content: space-between">
                <a href="{{ baseurl+'week/'+str(week-1) +'?year='+str(year) }}"
                   class="weeknavb"></a>
                <h2 style="margin-top: 1em">
                    󰃭
                    {% block title %}Vecka {{ week }}{% endblock %}
                    :<span style="color: #9399b2; font-size: 0.8rem">({{ year }})</span>
                </h2>
                <a href="{{ baseurl+'week/'+str(week+1) +'?year='+str(year) }}"
                   class="weeknavb"></a>
            </div>
        </div>
        <hr />
        {% for i in range(5) %}
            <p class="truncatecont">
                {{ weekday[i].capitalize() }} {{ datetime.fromtimestamp(weekdata.timestamp() 
                + (i)*86400).strftime('%d %b') }}:
                <span class="truncate" title="{{ schema[i][1] }}">{{ schema[i][1] }}</span>
                <span class="weekplancontrol" style="float: right">
                    <a href="{{ url_for('main.comments', year=year, week=week, weekday=i) }}"
                       class="comment-link">
                        󰅺
                        <sup class="comment-count">{{ comlen[i] }}</sup>
                    </a>
                    {% if userdict[loginid]['auth'] >= 2 %}
                        <a href="{{ schema[i][0] }}"></a>
                        <a href="{{ schema[i][0] }}"></a>
                    {% endif %}
                </span>
            </p>
        {% endfor %}
    </div>
    {% import 'controls.html' as controls %} {{ controls.dashboard(links,baseurl,userdict,loginid) }}
{% endblock %}
