{% extends 'base.html' %}

{% block content %}
<script>
function togglePassword(el) {
  const input = el.closest('li').querySelector('input.userpassword');
  if (input.type === 'password') {
    input.type = 'text';
    el.textContent = '󰈈 ';
  } else {
    input.type = 'password';
    el.textContent = '󰈉 ';
  }
}
</script>


<div class="contbox" style="position:relative;">
  <div style="display: flex; align-items: center; justify-content: space-between">
    <a href="{{ baseurl+'year/'+str(year-1) }}" class="weeknavb"></a>
    <h2 style="margin-top:1em;">󰃭 {% block title %}År {{ year }}{% endblock %}:</h2>
    <a href="{{ baseurl+'year/'+str(year+1) }}" class="weeknavb"></a>
  </div>
  <hr>
  {% for weekdata in schema %}
    <h3>Vecka {{ weekdata.week }} ({{ weekdata.date.strftime('%d %b') }})</h3>
    {% for day in weekdata.days %}
    <p class="truncatecont">{{ weekday[day.day - 1].capitalize() }} {{ datetime.fromtimestamp(weekdata.date.timestamp() + (day.day-1)*86400).strftime('%d %b') }}: <span class="truncate" title="{{ day.text }}">{{ day.text }}</span>
      {% if userdict['PermissionLevel'] >= 2 %}
        <span class="weekplancontrol" style="float:right;">
          <a href="{{ baseurl }}mgr/food/{{ year }}/{{ weekdata.week }}/{{ day.day }}/set"> </a>
          <a href="{{ baseurl }}mgr/food/{{ year }}/{{ weekdata.week }}/{{ day.day }}/del"> </a>
        </span>
      {% endif %}
    </p>
    {% endfor %}
  {% endfor %}
</div>

<div class="contbox">
  <h2> Länkar</h2>
  <hr>
  {% for i in links %}
    <p><a href="{{ baseurl+i.split('-')[0].strip() }}">{{ i.split('-')[1].strip() }}  </a></p>
  {% endfor %}
</div>

<div class="contbox">
  <h2> Inställningar och hantering</h2>
  <hr>
  {% for username in configdict.keys() %}
    <details style='margin-bottom: 5px;'>
      <summary>
        {% if username == userdict['Username'] %}
        <span title="Du är inloggad som {{ username }}"></span>
        {% endif %}
        {{ username }}
        <span class="weekplancontrol" style='float:right;'>
          <a href="{{ configdict[username]['delete_account'] }}"> </a>
          <a href="{{ configdict[username]['revoke_token'] }}">󰌊</a>
        </span>
      </summary>
      <ul style="margin:0;margin-top:5px;">
        <li style="margin-bottom: 5px;">
          <strong>Lösenord:</strong>
          <input type=password value="{{ configdict[username]['pass'] }}" disabled=true class="userpassword">
          <span class="weekplancontrol" style='float:right;'>
            <a href="{{ configdict[username]['change_password'] }}"> </a>
            <a href="javascript:void(0);" onclick="togglePassword(this)">󰈉 </a>
          </span>
        </li>
        <li><strong>Behörighet:</strong>
          {{ list(configdict[username]['auth'].values())[0] }}
          {% if userdict['PermissionLevel'] >= 2 %}
          <span class="weekplancontrol" style='float:right;'>
            <a href="{{ configdict[username]['change_permission']['User'] }}"> </a>
            <a href="{{ configdict[username]['change_permission']['FoodEditor'] }}">󰭼 </a>
            <a href="{{ configdict[username]['change_permission']['Moderator'] }}"> </a>
            <a href="{{ configdict[username]['change_permission']['Admin'] }}"> </a>
          </span>
          {% endif %}
        </li>
      </ul>
    </details>
  {% endfor %}
  {% if configdict.keys().__len__() == 0 %}
    Ej inloggad.
  {% endif %}
</div>

{% endblock %}
