{% extends "base.html" %}
{% block content %}
    <script>
  function togglePassword(el) {
    const input = el.closest("li").querySelector("span.userpassword");
    if (input.classList.contains("hidepass")) {
      el.textContent = "󰈈 "; // open eye
      input.classList.remove("hidepass");
    } else {
      el.textContent = "󰈉 "; // closed eye
      input.classList.toggle("hidepass");
    }
  }
    </script>
    <div class="contbox">
        <div style="position: sticky;
                    top: 0;
                    padding-top: 32px;
                    background-color: var(--bg-dark)">
            <div style="display: flex;
                        align-items: center;
                        justify-content: space-between">
                <a href="{{ baseurl+'year/'+str(year-1) }}" class="weeknavb"></a>
                <h2 style="margin-top: 1em">
                    󰃭
                    {% block title %}År {{ year }}{% endblock %}
                </h2>
                <a href="{{ baseurl+'year/'+str(year+1) }}" class="weeknavb"></a>
            </div>
            <hr />
        </div>
        {% for weekdata in schema %}
            <h3>
                Vecka {{ weekdata.week }}
                <span style="color: #9399b2; font-size: 0.8rem">({{ weekdata.date.year }})</span>
            </h3>
            {% for day in weekdata.days %}
                <p class="truncatecont">
                    {{ weekday[day.day - 1].capitalize() }} {{ datetime.fromtimestamp(weekdata.date.timestamp() +
                    (day.day-1)*86400).strftime('%d %b') }}:
                    <span class="truncate" title="{{ day.text }}">{{ day.text }}</span>
                    <span class="weekplancontrol" style="float: right">
                        <a href="{{ url_for('main.comments', year=year, week=week, weekday=i) }}"
                           class="comment-link">
                            󰅺
                            <sup class="comment-count">{{ comlen[i] }}</sup>
                        </a>
                        {% if userdict[loginid]['auth'] >= 2 %}
                            <a href="{{ baseurl }}mgr/food/{{ year }}/{{ weekdata.week }}/{{ day.day }}/set"></a>
                            <a href="{{ baseurl }}mgr/food/{{ year }}/{{ weekdata.week }}/{{ day.day }}/del"></a>
                        {% endif %}
                    </span>
                </p>
            {% endfor %}
        {% endfor %}
    </div>
    {% import 'controls.html' as controls %} {{ controls.dashboard(links,baseurl,userdict,loginid) }}
{% endblock %}
